Análisis de equipos segunda división regional masculina
---

El objetivo es analizar los resultados e información sobre los equipos en temporadas anteriores, de cara a la panificación de la próxima temporada, conocer los equipos potencialmente más fuertes, los que han mejorado o empeorado en el tiempo, etc.

In [2]:
# Imports
import pandas as pd

# Cargar los DataFrames con los que vamos a trabajar
uri = 'sqlite:///../resources/data/fbrm.db'
results_df = pd.read_sql_table('results', uri)
teams_df = pd.read_sql_table('teams', uri)

### Mejores equipos 2022/2023

In [31]:
# Filtrar resultados para la temporada 2022/2023
season_2022_2023_df = results_df[results_df['season'] == '2022/2023']
# Columnas que nos interesan
colums = ['team', 'phase', 'group', 'position', 'win', 'scored', 'against']
season_2022_2023_df = season_2022_2023_df[colums]
# Equipos que han quedado primeros en cada una de la fases
season_2022_2023_df = season_2022_2023_df[season_2022_2023_df['position'] == 1]
season_2022_2023_df = season_2022_2023_df.sort_values(by=['phase', 'win'], ascending=False)
# Print
season_2022_2023_df

,team,phase,group,position,win,scored,against
76,CIKY ORO C.D. LOS URRUTIAS,REGULAR,B,1,12,938,697
114,MY ENGLISH HOUSE LA FLOTA CB EL CARMEN,REGULAR,A,1,12,888,615
106,MY ENGLISH HOUSE LA FLOTA CB EL CARMEN,2ª FASE,TITULO,1,12,1008,866
84,BAHIA MAZARRON BASKET,2ª FASE,CLASIFICACION,1,11,932,629

### Mejor equipo histórico

Para elegir el mejor equipo histórico se van a tener en cuenta, partidos ganados, posición y puntos anotados.

In [45]:
# Asignar pesos a cada criterio
weight_win = 0.5
weight_position = 0.3
weight_scored = 0.2

# Genera el nuevo DF para trabajar
historic_team_df = results_df.sort_values(by=['team','win','position','scored'],
                                            ascending=False)

# Agrupa los registros por equipo y calcula la media
historic_team_df = historic_team_df.groupby('team').agg({
    'win': 'mean',  # Promedio de partidos ganados
    'position': 'mean',         # Promedio de posición
    'scored': 'mean'   # Promedio de puntos anotados
}).reset_index()

# Calcula la puntuación ponderada para cada equipo
historic_team_df['historic_score'] = (
    weight_win * historic_team_df['win'] +
    weight_position * historic_team_df['position'] +
    weight_scored * historic_team_df['scored']
)

# Ordenar por la puntuación obtenida
historic_team_df = historic_team_df.sort_values(by='historic_score', ascending=False)

# Print
historic_team_df.head()

                             team   win  position  scored  historic_score
12                    C.B. JAIRIS  22.0       1.0  2150.0           441.3
70  UCAM MURCIA C.B. "A" (JUNIOR)  16.0       3.0  1978.0           404.5
6       AR ABOGADOS C.B.SANTOMERA  20.0       1.0  1914.0           393.1
51        LORCA F.C. AD ELIOCROCA  19.0       2.0  1858.0           381.7
69               UCAM MURCIA C.B.  14.0       5.0  1816.0           371.7

### Equipo más mejorado

### Peor equipo histórico

### Equipo más empeorado

### Mejor equipo ofensivo

### Mejor equipo defensivo